<div class="user-profile-wrapper">
    <div class="profile-background"></div>
    <div class="profile-container">
        <div class="profile-header">
            <div class="back-arrow-img">
                <img src="../../../assets/images/icon/ic_white_back_arrow.svg" alt="">
            </div>
            <div class="title">
                <h4>Profile</h4>
            </div>
        </div>
    
        <div class="profile-user-img">
            <img src="../../../assets/images/user-img-female-1.jpg" alt="">
        </div>
    
        <div class="input-container">
            <form class="form-horizontal" method="post" action="/form" autocomplete="false">
                <div class="form-group">
                    <input type="text" placeholder="BUSINESS NAME">
                    <span class="us-icon"> <img src="../../../assets/images/icon/ic_user_profile__BUSINESS_NAME.svg" alt=""> </span>
                </div>                    
                <div class="form-group">
                    <input type="text" placeholder="EMAIL">
                    <span class="us-icon"> <img src="../../../assets/images/icon/ic_user_profile_email.svg" alt=""> </span>
                </div>
                <div class="form-group">
                    <input type="text" placeholder="MOBILE NUMBER">
                    <span class="us-icon"> <img src="../../../assets/images/icon/ic_user_profile_mobile.svg" alt=""> </span>
                </div>
                <div class="form-group">
                    <input type="text" placeholder="CONTACT NAME">
                    <span class="us-icon"> <img src="../../../assets/images/icon/ic_user_profile_name.svg" alt=""> </span>
                </div>
                <div class="login-button btn-yellow min-wth-200"><span>UPDATE PROFILE</span></div>
            </form>	
        </div>
        
        <div class="button-box">
            <div class="login-button btn-blue min-wth-200"><span>RESET PIN</span></div>
            <div class="login-button btn-blue min-wth-200"><span>DEREGISTER DEVICE</span></div>
        </div>
    </div>

</div>


