.mat-icon {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    float: right;
    position: relative;
    margin-top: -32px;
    left: -5px;
    width: 24px;
  }

  .Avail{
    margin-left: 277px;
    font-size: 12px;
  }

  span.Available-Credit {
    float: right;
    padding: 10px;
    font-size: 12px;
    color: gray;
}

.UploadViewBtn{
  cursor: pointer;
  margin-left: 15px;
  font-weight: 500;
  color: #1976d4;
}

.UploadBtn.Uploaded{
  background: linear-gradient(to right, #2f81d4 0, #59c5ef 100%);
}


.hbtn1 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  padding: 5px 10px;
  margin: -2px;
  text-align: center;
  border: 1px solid rgb(242, 148, 12);
  text-decoration: none;
  color:grey;
  white-space: nowrap;
  z-index: 0;
  display: table-cell;
}

.hbtn {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  padding: 5px 10px;
  margin: -2px;
  text-align: center;
  border: 1px solid rgb(242, 148, 12);
  text-decoration: none;
  color:grey;
  white-space: nowrap;
  z-index: 0;
  display: table-cell;
}

.YesOrNoButton.disabled {
  pointer-events: none;
}

.hb-fill-right,
.hb-fill-left {
 background: transparent;
 /* color: #0ce8fe; */
 transition: color 0.3s ease, background 0s 0.3s ease;
 cursor: pointer;
}
.hb-fill-right:hover,
.hb-fill-left:hover {
 color: #fff;
 /* background: #0ce8fe; */
 transition: color 0.3s ease, background 0s 0.3s ease;
}
.hbtn.hb-fill-right:before {
 position: absolute;
 content: "";
 transition-duration: 0.3s;
 z-index: -1;
 top: 0;
 right: auto;
 bottom: auto;
 left: 0;
 width: 0;
 height: 100%;
 opacity: 1;
 background: rgb(49, 58, 100);
 background: linear-gradient(to top, rgb(49, 58, 100), rgb(49, 58, 100));
 color: #ffffff !important;
}
.hbtn1.hb-fill-left:before {
 position: absolute;
 content: "";
 background: #ffffff;
 transition-duration: 0.3s;
 z-index: -1;
 top: 0;
 right: 0;
 bottom: auto;
 left: auto;
 width: 0;
 height: 100%;
 opacity: 1;
 background: rgb(242, 148, 12);
 background: linear-gradient(to top, rgb(242, 148, 12), rgb(242, 148, 12));
 color: #ffffff !important;
}
.hbtn.hb-fill-right:hover:before,
.hbtn1.hb-fill-left:hover:before {
 width: 100%;
 height: 100%;
 opacity: 0.8;
}
.hb-fill-right:hover,
.hb-fill-left:hover {
 color: #ffffff;
 background: transparent;
 transition: color 0.3s ease, background 0s 0.3s ease;
}
.hbtn.active {
 color: #fff;
 border: none;
}
.hbtn.active:before {
 width: 100%;
}

.hbtn1.active {
  color: #fff;
  border: none;
}
.hbtn1.active:before {
  width: 100%;
}

.BusinessButton {
width: auto;
}

.table {
  color: #f2940c;
  margin: 0;
  position: relative;
}

/* Client Table  css */
.table1.tbl1-client {
  color:  rgb(49, 58, 102);;
}
.table1.tbl1-client thead th {
  color:  rgb(49, 58, 102);;
  background: #e6e6e6;
  white-space: nowrap;
}
.table1.tbl1-client tbody {
  background: #fff;
}
.table1.tbl1-client tbody tr:first-child {
  border-top: 5px solid white;
}
.table1.tbl1-client tr td:nth-child(odd) {
  background: #f7f7f7;
}
.table1.tbl1-client tr:last-child td {
  background: transparent;
}
.table1.tbl1-client tr td:nth-child(2) {
  color: #373b46;
  font-weight: 600;
  letter-spacing: 0.7px;
}

/* pagination css*/
.tbl1-client-container .pagination li {
  border-radius: 0;
  width: 35px;
  height: 35px;
  line-height: 32px;
  border: 2px solid #9e9e9e9c;
}
.tbl1-client-container  .pagination li.active,
.tbl1-client-container .pagination li:hover,
.tbl1-client-container .pagination li:hover i.fa.fa-angle-double-left,
.tbl1-client-container .pagination li:hover i.fa.fa-angle-double-right,
.tbl1-client-container .filter-icon:hover i.fa.fa-filter
{
  color: #fff;
  border-color: rgb(242, 148, 12) !important;
  transition: 0.5s;
}
.tbl1-client-container .pagination li.active:before {
  -webkit-transform: scale(1);
  transform: scale(1)
}
.tbl1-client-container .pagination li:hover:before {
  transform: scale(1);
}
.tbl1-client-container .pagination li:before{
  border-radius: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.tbl1-client-container .pagination li.active:before, .tbl1-client-container .pagination li:before {
  content: "";
  position: absolute;
  border-radius: 0;
  width: 27px;
  height: 27px;
  background: #313a66;
  top: 2px;
  left: 2px;
  z-index: -1;
}
.tbl1-client-container .pagination li.etc-dots {
  line-height: 25px;
}

/* Go page button css*/
.tbl1-client-container .number-go-page span.bnt-go-page {
  padding: 5px;
  border-radius: 0;
  border: 2px solid #9e9e9e9c;
}
.tbl1-client-container .number-go-page span.bnt-go-page:after {
  width: 26px;
  height: 23px;
  border-radius: 0;
  background-color: rgb(49, 58, 102);
  transform: scale(0);
  transition: all 0.5s;
  z-index: -1;
}
.tbl1-client-container span.bnt-go-page:hover:after{
  transform: scale(1) !important;
}
.tbl1-client-container span.bnt-go-page:hover {
  z-index: 1;
  border-color: #f2940c !important;
}
.tbl1-client-container .bnt-go-page span.txt {
  color: #313a66;
  font-weight: 500;
}
.tbl1-client-container span.bnt-go-page:hover span.txt {
  color: #fff !important;
}
.tbl1-client-container .label-show-limits {
  color: rgb(49, 58, 102);
}
.tbl1-client-container .txt-show-records {
  color: #f2940c;
}
.tbl1-client-container .txt-show-records span{
  color: #313a66;
}

/* Filter Icon */
.tbl1-client-container .filter-icon i.fa.fa-filter, .create-user i.fa.fa-plus {
  font-size: 20px;
  width: 34px;
  height: 34px;
  border-radius: 0;
  border: 2px solid #9e9e9e9c;
  color: #313a66;
}
.tbl1-client-container .filter-icon:before {
  width: 26px;
  height: 26px;
  top: 4px;
  left: 4px;
  border-radius: 0;
  background-color: rgb(49, 58, 102);
  transform: scale(0);
  transition: all 0.5s;
}
.tbl1-client-container .filter-icon:hover:before {
  transform: scale(1);
  transition: all 0.5s;
}
.tbl1-client-container .lbl-filter-txt {
  color: rgb(49, 58, 102);
}

.tbl1-client-container .bnt-go-page:hover {

}

/* Add and Minus button css start*/
.btn-add-plus,
.btn-remove-minus {
 -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
    0 4px 15px 0 rgba(0, 0, 0, 0.15);
 box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
 width: 25px;
 height: 25px;
 z-index: 1;
 display: inline-block;
 -webkit-transition: all 0.2s ease-in-out;
 -o-transition: all 0.2s ease-in-out;
 transition: all 0.2s ease-in-out;
 margin: 0px;
 /* -webkit-border-radius: 50%; */
 padding: 0;
 cursor: pointer;
 text-align: center;
 font-size: 1.2rem;
 border-radius: 2px ;
}
.btn-add-plus {
 background: linear-gradient(40deg, #ffd86f, #fc6262) !important;
}
.btn-remove-minus {
 background-image: linear-gradient(to right, #ff0302 0%, #fc3a2b 100%);
 margin-top: 6px;
 margin-left: 0;
}

span.btn-remove-minus i.fa.fa-minus, span.btn-add-plus i.fa.fa-plus {
 color: white;
 position: relative;
 top: 5px;
}

.btn-add-plus:hover,
.btn-remove-minus:hover {
 box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.col-md-12.ADDBusiness {
  margin-left: 64%;
}

.btn-blue, .btn-yellow {
  color: #fff;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  padding: 15px 20px;
  min-width: 130px;
  margin: 8px 101px;
  margin-top: 42px;
  display: inline-block;
  box-shadow: 4px 4px 7px 0px #9e9e9e8c;
  border-radius: 0;
  letter-spacing: 0.5px;
}


.UploadBtn{
  cursor: pointer;
  display: grid;
  grid-template-columns: 30px auto;
  align-items: center;
  max-width: 200px;
  padding: 5px 10px;
  background: linear-gradient(to right,rgb(148, 148, 148) 0,rgb(223, 223, 223) 100%);
  color: #fff;
  border-radius: 5px;
}
.UploadBtn.Uploaded{
  background: #f2940c;
}
.UploadViewBtn{
  cursor: pointer;
  margin-left: 15px;
  font-weight: 500;
  color: #313a64;
}

.ECGView{
  position: fixed;
  left: 50%;
  top: calc(50% + 25px);
  transform: translate(-50%, -50%);
  z-index: 10000;
  max-height: calc(100% - 85px);
  max-width: 100%;

}
.ECGView .CloseBtn{
  position: absolute;
   background: #a9a9a9;
   width: 30px;
   height: 30px;
   display: block;
   color: #fff;
   cursor: pointer;
   font-size: 25px;
   line-height: 25px;
   text-align: center;
   border-radius: 50px;
   top: -15px;
   right: -15px;
}
.ECGView .ImgSection{
  border: 2px solid #c8c8c8;
}
.ECGView .ImgSection img{
  max-width: 100%;
  max-height: 100%;
}


button.add-invoice-image {
  background-color: #f2940c;
  border: none;
  border-radius: 10px;
  width: 100%;
  color: #ffff;
}


.InvoiceAttachments-preview {
  height:110px;
}

.payfield::-webkit-outer-spin-button,
.payfield::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.payfield[type=number]{
  -moz-appearance: textfield;
}
