<div class="limiter" style="display: block;">
  <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" class="bk-waves-gray" data-name="Layer 1"
    viewBox="0 0 990.63 1151.42">
    <defs>
      <style>
        .cls-1 {
          fill: #e8e8e8;
          opacity: 0.35;
        }

        .cls-2 {
          fill: #efefef;
        }
      </style>
    </defs>
    <title>web bg images</title>
    <path class="cls-1"
      d="M990.63,0V1151.42L922.26,999.76C891.54,931.63,872.07,841.21,866,738.27c-5.92-99.5.79-205.82,19.41-307.47,5.38-29.4,2.61-50.9-8.24-63.91-17.14-20.57-61.47-33.35-115.67-33.35-12.72,0-21.32.76-22.49.87l-3.63.41h-3.24c-5.5.07-11.09.1-16.6.1h-.08c-112.1,0-217.5-14.74-313.29-43.83C324.29,267.45,252.6,234.35,189,192.7,79.66,121.05,31.25,48.59,26.08,40.57L0,0Z">
    </path>
    <path class="cls-2"
      d="M990.63,0V968.93c-55.15-122.33-67.18-329.76-31.5-524.63,39-213-228-184.49-228-184.49-471,6-642-259.81-642-259.81Z">
    </path>
  </svg>
  <div class="content-wrapper">
    <div class="default-container">
      <!-- <div class="table-head-title" *ngIf="CustomerCategory === 'Seller'">
        <h4>Payments</h4>
      </div> -->
      <!-- <div class="Buyer-head-title" *ngIf="CustomerCategory === 'Buyer'">
        <h4>Payments</h4>
      </div> -->
      <div *ngIf="this.CustomerCategory === 'Buyer'">
        <a class="create-buyer-button-btn fadeInDown" (click)="CreatePayment()">Create New</a>
        <a class="create-icon-btn animated fadeInDown" (click)="CreatePayment()"> </a>

        <br>
        <br>
      </div>
      <div class="col-md-12">
        <div class="row">
          <!-- <div class=" col-md-7">
            <label class="text-left side-field-title"> </label>
            <div class="wrapper-slide">
            </div>
          </div> -->
          <!-- <div class="col-md-5">
            <label class="text-left side-field-title"> <b>Payment Status spilt</b> </label>
            <div class="wrapper-slide">
              <div *ngFor="let Payment of PaymentStatusArr;let i=index;" class="boxStatus"
                [ngClass]="{'active': ActivePaymentStatus === Payment?.Key }">
                <span class="generate-btn btn-delivery-lst" (click)="ChangePaymentStatus(Payment.Key)">
                  {{Payment.Name}} </span>
              </div>
            </div>
          </div> -->
          <div class="container-fluid mt-1">
            <div class="row">
              <div class="col-md-12">
                <mat-tab-group class="inv-tab" mat-stretch-tabs mat-align-tabs="center"
                  (selectedIndexChange)="tabChanged($event)">
                  <mat-tab *ngFor="let Payment of PaymentStatusArr;let i=index;">
                    <ng-template mat-tab-label>
                      <button style="background: none; border: none; padding: 0; cursor: pointer;">
                        <span>{{ Payment.Name}}
                          <!-- <span *ngIf="this.CustomerCategory === 'Seller'">
                            <span class="badge badge-pill badge-seller"
                              *ngIf="Payment.Name === 'Open'">{{OpenCounts}}</span>
                            <span class="badge badge-pill badge-seller"
                              *ngIf="Payment.Name === 'Accept'">{{AcceptedCounts}}</span>
                            <span class="badge badge-pill badge-seller"
                              *ngIf="Payment.Name === 'Dispute'">{{DisputedCounts}}</span>
                          </span>

                          <span *ngIf="this.CustomerCategory === 'Buyer'">
                            <span class="badge badge-pill badge-buyer"
                              *ngIf="Payment.Name === 'Open'">{{OpenCounts}}</span>
                            <span class="badge badge-pill badge-buyer"
                              *ngIf="Payment.Name === 'Accept'">{{AcceptedCounts}}</span>
                            <span class="badge badge-pill badge-buyer"
                              *ngIf="Payment.Name === 'Dispute'">{{DisputedCounts}}</span>
                          </span> -->
                        </span>
                      </button>
                    </ng-template>
                  </mat-tab>
                </mat-tab-group>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tbl-filter-container">
        <div class="tbl-row-display">
          <span class="label-show-limits">
            show Limits
          </span>
          <mat-form-field *ngIf="ActivePaymentStatus === 'Open' && this.CustomerCategory === 'Buyer'">
            <mat-select [(ngModel)]="LimitCount" (ngModelChange)="BuyerPendingPagination_Action(1)">
              <mat-option [value]="6">6</mat-option>
              <mat-option [value]="12">12</mat-option>
              <mat-option [value]="30">30</mat-option>
              <mat-option [value]="60">60</mat-option>
              <mat-option [value]="120">120</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="ActivePaymentStatus === 'Accepted' && this.CustomerCategory === 'Buyer'">
            <mat-select [(ngModel)]="LimitCount" (ngModelChange)="BuyerAcceptPagination_Action(1)">
              <mat-option [value]="6">6</mat-option>
              <mat-option [value]="12">12</mat-option>
              <mat-option [value]="30">30</mat-option>
              <mat-option [value]="60">60</mat-option>
              <mat-option [value]="120">120</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="ActivePaymentStatus === 'Disputed' && this.CustomerCategory === 'Buyer'">
            <mat-select [(ngModel)]="LimitCount" (ngModelChange)="BuyerDisputedPagination_Action(1)">
              <mat-option [value]="6">6</mat-option>
              <mat-option [value]="12">12</mat-option>
              <mat-option [value]="30">30</mat-option>
              <mat-option [value]="60">60</mat-option>
              <mat-option [value]="120">120</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="ActivePaymentStatus === 'Open' && this.CustomerCategory === 'Seller'">
            <mat-select [(ngModel)]="LimitCount" (ngModelChange)="SellerPendingPagination_Action(1)">
              <mat-option [value]="6">6</mat-option>
              <mat-option [value]="12">12</mat-option>
              <mat-option [value]="30">30</mat-option>
              <mat-option [value]="60">60</mat-option>
              <mat-option [value]="120">120</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="ActivePaymentStatus === 'Accepted' && this.CustomerCategory === 'Seller'">
            <mat-select [(ngModel)]="LimitCount" (ngModelChange)="SellerAcceptPagination_Action(1)">
              <mat-option [value]="6">6</mat-option>
              <mat-option [value]="12">12</mat-option>
              <mat-option [value]="30">30</mat-option>
              <mat-option [value]="60">60</mat-option>
              <mat-option [value]="120">120</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="ActivePaymentStatus === 'Disputed' && this.CustomerCategory === 'Seller'">
            <mat-select [(ngModel)]="LimitCount" (ngModelChange)="SellerDisputedPagination_Action(1)">
              <mat-option [value]="6">6</mat-option>
              <mat-option [value]="12">12</mat-option>
              <mat-option [value]="30">30</mat-option>
              <mat-option [value]="60">60</mat-option>
              <mat-option [value]="120">120</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="">
          <div class="filter-parent">
            <ng-container *ngFor="let Filter of FiltersArray; let i=index">
              <div *ngIf="Filter.Active" class="filter-result">
                <div class="filter-info">
                  <span class="label"> {{Filter.DisplayName}} </span>
                  <span *ngIf="Filter.Type === 'String' && Filter.Key === 'PaymentID'" class="value">
                    {{ Filter.Value}} </span>
                  <span *ngIf="Filter.Type === 'String' && Filter.Key === 'PaymentAmount'" class="value">
                    {{ Filter.Value }} </span>
                </div>
                <span class="Filter-close">
                  <i class="fa fa-close" (click)="RemoveFilter(i)"></i>
                </span>
              </div>
            </ng-container>
            <div class="filter-icon" (click)="openFilterModal(template)"><span><i class="fa fa-filter"
                  aria-hidden="true"></i></span></div>
          </div>
        </div>
      </div>

      <div class="col-md-12"
        *ngIf="ActivePaymentStatus === 'Open' && this.CustomerCategory === 'Seller' && PaymentDetails.length > 0">
        <div class="row">
          <div class="col-md-7"></div>
          <div class="col-md-5 mb-2">
            <!-- <div class="wrapper-slides">
              <div *ngFor="let Payment of PaymentStatusArray;let i=index;"
                [ngClass]="{'active': ActiveAcceptAndDisputed === Payment?.Key }">
                <span class="generate-btn btn btn-delivery-lst" (click)="SwitchToAcceptAndDisputed(Payment.Key)">
                  {{Payment.Name}} &nbsp;<img *ngIf="Payment.Name === 'Accept'"
                    src="../../../assets/images/MobileIcons/ic_accept.png" alt="Accept" width="20px" height="20px">
                  <img *ngIf="Payment.Name === 'Dispute'" src="../../../assets/images/MobileIcons/ic_disput.png"
                    alt="Dispute" width="20px" height="20px"> </span>
              </div>
            </div> -->
          </div>
        </div>
      </div>

      <div class="wrapper" *ngIf=" PaymentDetails.length > 0 && this.CustomerCategory === 'Buyer'">
        <ng-container *ngFor="let payment of PaymentDetails;let i=index">
          <div
            [ngClass]="{'box-paid': payment.Payment_Status === 'Accept', 'box-unpaid': payment.Payment_Status !== 'Accept'}">
            <div class="wd-header">{{payment?.PaymentID}}
              <div class="sts-icon">
                <img src="../../../assets/images/MobileIcons/unpaidone.png" alt="Fully Paid" width="20px" height="20px"
                  *ngIf="payment.Payment_Status === 'Accept'">
                <!-- <img src="../../../assets/images/MobileIcons/unpaidtwo.png" alt="Fully Paid" width="20px" height="20px"> -->
                <img src="../../../assets/images/MobileIcons/unpaidthree.png" alt="Fully Paid" width="20px"
                  height="20px" *ngIf="payment.Payment_Status === 'Pending'">
              </div>
              <div class="wd-icon">
                <span class="material-icons" (click)="ViewPaymentsDetails(i)">
                  <img src="../../../assets/images/MobileIcons/ic_eye.png" alt="View" class="mb-2" width="20px"
                    height="20px">
                </span>
                <span class="material-icons" *ngIf="payment?.Payment_Status === 'Disputed'"
                  (click)="EditPaymentDetails(i)">
                  <img src="../../../assets/images/MobileIcons/pencil.png" alt="Edit" class="mb-2" width="20px"
                    height="18px">
                </span>
              </div>
            </div>
            <div class="wd-content">
              <table class="wd-table">
                <tbody>
                  <tr>
                    <td>Seller</td>
                    <td>:</td>
                    <td>{{payment?.Seller?.ContactName}}</td>
                  </tr>
                  <tr>
                    <td>Mobile</td>
                    <td>:</td>
                    <td>{{payment?.Seller?.Mobile}}</td>
                  </tr>
                  <tr>
                    <td>Seller Business Name</td>
                    <td>:</td>
                    <td>{{payment?.Business?.FirstName +' '+ payment?.Business?.LastName }}</td>
                  </tr>
                  <!-- <tr>
                    <td>Seller Branch Name</td>
                    <td>:</td>
                    <td>{{payment?.BranchInfo?.BranchName}}</td>
                  </tr> -->
                  <tr>
                    <td>PaymentAmount</td>
                    <td>:</td>
                    <td>{{payment?.PaymentAmount}}</td>
                  </tr>
                  <tr>
                    <td>Payment Date</td>
                    <td>:</td>
                    <td> {{payment?.PaymentDate | date: 'd-MMM-y'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-container>
      </div>



      <div class="wrapper" *ngIf="PaymentDetails.length > 0 && this.CustomerCategory === 'Seller'">
        <ng-container *ngFor="let payment of PaymentDetails;let i=index">
          <div
            [ngClass]="{'box-paid': payment.Payment_Status === 'Accept', 'box-unpaid': payment.Payment_Status !== 'Accept'}">
            <div class="wd-header mb-3">{{payment?.PaymentID}}
              <div class="sts-icon">
                <img src="../../../assets/images/MobileIcons/unpaidone.png" alt="Fully Paid" width="20px" height="20px"
                  *ngIf="payment.Payment_Status === 'Accept'">
                <!-- <img src="../../../assets/images/MobileIcons/unpaidtwo.png" alt="Fully Paid" width="20px" height="20px"> -->
                <img src="../../../assets/images/MobileIcons/unpaidthree.png" alt="Fully Paid" width="20px"
                  height="20px" *ngIf="payment.Payment_Status === 'Pending'">
              </div>
              <div class="wd-icon">
                <span class="material-icons" (click)="ViewPaymentsDetails(i)">
                  <img src="../../../assets/images/MobileIcons/ic_eye.png" alt="View" class="mb-2" width="20px"
                    height="20px">
                </span>
                <span class="material-icons" (click)="UpdatePayment(payment)" *ngIf="ActivePaymentStatus === 'Open'">
                  <img src="../../../assets/images/MobileIcons/ic_accept.png" alt="Accept" class="mb-2" width="20px"
                    height="20px">
                </span>
                <!-- <span class="material-icons" *ngIf="ActivePaymentStatus === 'Open'">
                  <mat-checkbox [checked]="payment.WaitingFroApproval" (change)="WaitForApproval($event, i)"
                    [disabled]="DisableCheckBox && !(this.PaymentDetails[i].WaitingForApproval)">
                  </mat-checkbox>
                </span> -->
              </div>
            </div>
            <div class="wd-content mt-2">
              <table class="wd-table">
                <tbody>
                  <tr>
                    <td>Buyer</td>
                    <td>:</td>
                    <td>{{payment?.buyer?.ContactName}}</td>
                  </tr>
                  <tr>
                    <td>Mobile</td>
                    <td>:</td>
                    <td>{{payment?.buyer?.Mobile}}</td>
                  </tr>
                  <tr>
                    <td>Buyer Business Name</td>
                    <td>:</td>
                    <td>{{payment?.BuyerBusiness?.FirstName+ ' '+ payment?.BuyerBusiness?.LastName}}</td>
                  </tr>
                  <!-- <tr>
                    <td>Buyer Branch Name</td>
                    <td>:</td>
                    <td>{{payment?.BuyerBranchInfo?.BranchName}}</td>
                  </tr> -->
                  <tr>
                    <td>PaymentAmount</td>
                    <td>:</td>
                    <td>{{payment?.PaymentAmount}}</td>
                  </tr>
                  <tr>
                    <td>Payment Date</td>
                    <td>:</td>
                    <td> {{payment?.PaymentDate | date: 'd-MMM-y'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="No-data-found" *ngIf="PaymentDetails.length === 0 ">No Payment To Display</div>
      <div class="pagination-container" *ngIf="ActivePaymentStatus === 'Open' && this.CustomerCategory === 'Buyer'">
        <div class="go-page">
          <div class="number-go-page ">
            <span class="lbl-go-page  label-show-limits">Go Page</span>
            <input type="number" style="border:none" autocomplete="off" min="1" max="{{PagesArray.length}}"
              [(ngModel)]="GoToPage">
            <span class="bnt-go-page">
              <span class="txt" (click)="BuyerPendingPagination_Action(GoToPage)">GO</span>
            </span>
          </div>
        </div>
        <div class="show-records">
          <div class="txt-show-records" [innerHTML]="ShowingText"></div>
          <!-- <div class="txt-show-records">Showing <span>1</span> to <span>5</span> out of <span>97</span> entries</div> -->
        </div>

        <div class="pagination-number">
          <ul class="pagination hidden-xs">
            <li>
              <a class="{{PagePrevious['Class']}}" (click)="BuyerPendingPagination_Action(PagePrevious['Value'])"
                matTooltip="Previous">
                <p><i class="fa fa-angle-double-left" aria-hidden="true"></i></p>
              </a>
            </li>
            <li *ngFor="let Page of PagesArray; let i=index" class="{{Page.Class}}" [ngClass]="{'active': Page.Active}"
              (click)="BuyerPendingPagination_Action(Page.Value)">
              <a>
                <p>{{Page.Text}}</p>
              </a>
            </li>
            <li class="{{PageNext['Class']}}" (click)="BuyerPendingPagination_Action(PageNext['Value'])"
              matTooltip="Next">
              <a>
                <p><i class="fa fa-angle-double-right" aria-hidden="true"></i></p>
              </a>
            </li>
            <!-- <li>
                            <a class="" matTooltip="Previous">
                               <p><i class="fa fa-angle-double-right" aria-hidden="true"></i></p>
                            </a>
                         </li> -->
          </ul>

        </div>

      </div>

      <div class="pagination-container" *ngIf="ActivePaymentStatus === 'Accepted' && this.CustomerCategory === 'Buyer'">
        <div class="go-page">
          <div class="number-go-page ">
            <span class="lbl-go-page  label-show-limits">Go Page</span>
            <input type="number" style="border:none" autocomplete="off" min="1" max="{{PagesArray.length}}"
              [(ngModel)]="GoToPage">
            <span class="bnt-go-page">
              <span class="txt" (click)="BuyerAcceptPagination_Action(GoToPage)">GO</span>
            </span>
          </div>
        </div>
        <div class="show-records">
          <div class="txt-show-records" [innerHTML]="ShowingText"></div>
          <!-- <div class="txt-show-records">Showing <span>1</span> to <span>5</span> out of <span>97</span>  entries</div> -->
        </div>

        <div class="pagination-number">
          <ul class="pagination hidden-xs">
            <li>
              <a class="{{PagePrevious['Class']}}" (click)="BuyerAcceptPagination_Action(PagePrevious['Value'])"
                matTooltip="Previous">
                <p><i class="fa fa-angle-double-left" aria-hidden="true"></i></p>
              </a>
            </li>
            <li *ngFor="let Page of PagesArray; let i=index" class="{{Page.Class}}" [ngClass]="{'active': Page.Active}"
              (click)="BuyerAcceptPagination_Action(Page.Value)">
              <a>
                <p>{{Page.Text}}</p>
              </a>
            </li>
            <li class="{{PageNext['Class']}}" (click)="BuyerAcceptPagination_Action(PageNext['Value'])"
              matTooltip="Next">
              <a>
                <p><i class="fa fa-angle-double-right" aria-hidden="true"></i></p>
              </a>
            </li>
            <!-- <li>
                            <a class="" matTooltip="Previous">
                               <p><i class="fa fa-angle-double-right" aria-hidden="true"></i></p>
                            </a>
                         </li> -->
          </ul>

        </div>

      </div>
      <div class="pagination-container" *ngIf="ActivePaymentStatus === 'Disputed' && this.CustomerCategory === 'Buyer'">
        <div class="go-page">
          <div class="number-go-page ">
            <span class="lbl-go-page  label-show-limits">Go Page</span>
            <input type="number" style="border:none" autocomplete="off" min="1" max="{{PagesArray.length}}"
              [(ngModel)]="GoToPage">
            <span class="bnt-go-page">
              <span class="txt" (click)="BuyerDisputedPagination_Action(GoToPage)">GO</span>
            </span>
          </div>
        </div>
        <div class="show-records">
          <div class="txt-show-records" [innerHTML]="ShowingText"></div>
          <!-- <div class="txt-show-records">Showing <span>1</span> to <span>5</span> out of <span>97</span>  entries</div> -->
        </div>

        <div class="pagination-number">
          <ul class="pagination hidden-xs">
            <li>
              <a class="{{PagePrevious['Class']}}" (click)="BuyerDisputedPagination_Action(PagePrevious['Value'])"
                matTooltip="Previous">
                <p><i class="fa fa-angle-double-left" aria-hidden="true"></i></p>
              </a>
            </li>
            <li *ngFor="let Page of PagesArray; let i=index" class="{{Page.Class}}" [ngClass]="{'active': Page.Active}"
              (click)="BuyerDisputedPagination_Action(Page.Value)">
              <a>
                <p>{{Page.Text}}</p>
              </a>
            </li>
            <li class="{{PageNext['Class']}}" (click)="BuyerDisputedPagination_Action(PageNext['Value'])"
              matTooltip="Next">
              <a>
                <p><i class="fa fa-angle-double-right" aria-hidden="true"></i></p>
              </a>
            </li>
            <!-- <li>
                            <a class="" matTooltip="Previous">
                               <p><i class="fa fa-angle-double-right" aria-hidden="true"></i></p>
                            </a>
                         </li> -->
          </ul>

        </div>

      </div>

      <div class="pagination-container" *ngIf="ActivePaymentStatus === 'Open' && this.CustomerCategory === 'Seller'">
        <div class="go-page">
          <div class="number-go-page ">
            <span class="lbl-go-page  label-show-limits">Go Page</span>
            <input type="number" style="border:none" autocomplete="off" min="1" max="{{PagesArray.length}}"
              [(ngModel)]="GoToPage">
            <span class="bnt-go-page">
              <span class="txt" (click)="SellerPendingPagination_Action(GoToPage)">GO</span>
            </span>
          </div>
        </div>
        <div class="show-records">
          <div class="txt-show-records" [innerHTML]="ShowingText"></div>
          <!-- <div class="txt-show-records">Showing <span>1</span> to <span>5</span> out of <span>97</span>  entries</div> -->
        </div>

        <div class="pagination-number">
          <ul class="pagination hidden-xs">
            <li>
              <a class="{{PagePrevious['Class']}}" (click)="SellerPendingPagination_Action(PagePrevious['Value'])"
                matTooltip="Previous">
                <p><i class="fa fa-angle-double-left" aria-hidden="true"></i></p>
              </a>
            </li>
            <li *ngFor="let Page of PagesArray; let i=index" class="{{Page.Class}}" [ngClass]="{'active': Page.Active}"
              (click)="SellerPendingPagination_Action(Page.Value)">
              <a>
                <p>{{Page.Text}}</p>
              </a>
            </li>
            <li class="{{PageNext['Class']}}" (click)="SellerPendingPagination_Action(PageNext['Value'])"
              matTooltip="Next">
              <a>
                <p><i class="fa fa-angle-double-right" aria-hidden="true"></i></p>
              </a>
            </li>
            <!-- <li>
                            <a class="" matTooltip="Previous">
                               <p><i class="fa fa-angle-double-right" aria-hidden="true"></i></p>
                            </a>
                         </li> -->
          </ul>

        </div>

      </div>

      <div class="pagination-container"
        *ngIf="ActivePaymentStatus === 'Accepted' && this.CustomerCategory === 'Seller'">
        <div class="go-page">
          <div class="number-go-page ">
            <span class="lbl-go-page  label-show-limits">Go Page</span>
            <input type="number" style="border:none" autocomplete="off" min="1" max="{{PagesArray.length}}"
              [(ngModel)]="GoToPage">
            <span class="bnt-go-page">
              <span class="txt" (click)="SellerAcceptPagination_Action(GoToPage)">GO</span>
            </span>
          </div>
        </div>
        <div class="show-records">
          <div class="txt-show-records" [innerHTML]="ShowingText"></div>
          <!-- <div class="txt-show-records">Showing <span>1</span> to <span>5</span> out of <span>97</span>  entries</div> -->
        </div>

        <div class="pagination-number">
          <ul class="pagination hidden-xs">
            <li>
              <a class="{{PagePrevious['Class']}}" (click)="SellerAcceptPagination_Action(PagePrevious['Value'])"
                matTooltip="Previous">
                <p><i class="fa fa-angle-double-left" aria-hidden="true"></i></p>
              </a>
            </li>
            <li *ngFor="let Page of PagesArray; let i=index" class="{{Page.Class}}" [ngClass]="{'active': Page.Active}"
              (click)="SellerAcceptPagination_Action(Page.Value)">
              <a>
                <p>{{Page.Text}}</p>
              </a>
            </li>
            <li class="{{PageNext['Class']}}" (click)="SellerAcceptPagination_Action(PageNext['Value'])"
              matTooltip="Next">
              <a>
                <p><i class="fa fa-angle-double-right" aria-hidden="true"></i></p>
              </a>
            </li>
            <!-- <li>
                            <a class="" matTooltip="Previous">
                               <p><i class="fa fa-angle-double-right" aria-hidden="true"></i></p>
                            </a>
                         </li> -->
          </ul>

        </div>

      </div>
      <div class="pagination-container"
        *ngIf="ActivePaymentStatus === 'Disputed' && this.CustomerCategory === 'Seller'">
        <div class="go-page">
          <div class="number-go-page ">
            <span class="lbl-go-page  label-show-limits">Go Page</span>
            <input type="number" style="border:none" autocomplete="off" min="1" max="{{PagesArray.length}}"
              [(ngModel)]="GoToPage">
            <span class="bnt-go-page">
              <span class="txt" (click)="SellerDisputedPagination_Action(GoToPage)">GO</span>
            </span>
          </div>
        </div>
        <div class="show-records">
          <div class="txt-show-records" [innerHTML]="ShowingText"></div>
          <!-- <div class="txt-show-records">Showing <span>1</span> to <span>5</span> out of <span>97</span>  entries</div> -->
        </div>

        <div class="pagination-number">
          <ul class="pagination hidden-xs">
            <li>
              <a class="{{PagePrevious['Class']}}" (click)="SellerDisputedPagination_Action(PagePrevious['Value'])"
                matTooltip="Previous">
                <p><i class="fa fa-angle-double-left" aria-hidden="true"></i></p>
              </a>
            </li>
            <li *ngFor="let Page of PagesArray; let i=index" class="{{Page.Class}}" [ngClass]="{'active': Page.Active}"
              (click)="SellerDisputedPagination_Action(Page.Value)">
              <a>
                <p>{{Page.Text}}</p>
              </a>
            </li>
            <li class="{{PageNext['Class']}}" (click)="SellerDisputedPagination_Action(PageNext['Value'])"
              matTooltip="Next">
              <a>
                <p><i class="fa fa-angle-double-right" aria-hidden="true"></i></p>
              </a>
            </li>
            <!-- <li>
                            <a class="" matTooltip="Previous">
                               <p><i class="fa fa-angle-double-right" aria-hidden="true"></i></p>
                            </a>
                         </li> -->
          </ul>

        </div>

      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" class="bk-waves-yellow" data-name="Layer 1"
      viewBox="0 0 1920 80.97">
      <defs>
        <style>
          .cls-1 {
            fill: #f2940c;
          }

          .cls-2 {
            fill: #efaa0f;
          }

          .cls-3 {
            fill: #e58910;
          }
        </style>
      </defs>
      <title>web bg images</title>
      <path class="cls-1" d="M0,26.27q8.58-1.56,17-3-8.43,1.9-17,4Z"></path>
      <path class="cls-2"
        d="M1920,26.27V81H0V26.27q13-2.36,25.59-4.39C211.19,59,361.59,64.1,465.42,61.8c36.44-.81,68.89-2.57,98.36-4.92C731,43.52,802.22,10.9,960,23.16c17.07,1.32,35.15,3.17,54.48,5.63,119.59,15.21,185.88,40.8,321,30,7.32-.59,14.21-1.23,20.71-1.92,101.7-10.79,110-33.76,237.32-46.09C1631.11,7.15,1745.7-2,1894.41,21.88Q1907,23.92,1920,26.27Z">
      </path>
      <path class="cls-1"
        d="M1920,16.61V81H0V26.27q13-2.36,25.59-4.39C174.3-2,288.89,7.15,326.46,10.79c127.33,12.33,135.62,35.3,237.32,46.09,6.5.69,13.39,1.33,20.71,1.92,135.15,10.79,201.44-14.8,321-30,19.33-2.46,37.41-4.31,54.48-5.63,157.78-12.26,229,20.36,396.22,33.72,29.47,2.35,61.92,4.11,98.36,4.92,103.83,2.3,254.23-2.79,439.83-39.92Q1907.1,19.35,1920,16.61Z">
      </path>
      <path class="cls-3"
        d="M905.52,28.79c18.66-2.37,36.16-4.18,52.7-5.49-16.54,1.76-34,4.19-52.7,7.39-119.59,20.49-185.88,55-321,40.42-7.32-.79-14.21-1.66-20.71-2.58C490.87,58.11,466,39.26,410.79,23.3c55.18,11.85,80.08,25.84,153,33.58,6.5.69,13.39,1.33,20.71,1.92C719.64,69.59,785.93,44,905.52,28.79Z">
      </path>
      <path class="cls-3"
        d="M1887.31,23.29C1705,71.56,1557.08,78.21,1454.58,75.15c-36.44-1.09-68.89-3.46-98.36-6.62-112.67-12.13-181.75-36-263.08-45.27,81.33,6.88,150.41,24.62,263.08,33.62,29.47,2.35,61.92,4.11,98.36,4.92C1557.08,64.07,1705,59.14,1887.31,23.29Z">
      </path>
      <path class="cls-2"
        d="M326.46,6.45C362.5,11.15,389,17,410.79,23.3c-21.78-4.68-48.29-9-84.33-12.51C288.89,7.15,174.3-2,25.59,21.88q-4.28.69-8.58,1.42c2.87-.66,5.73-1.29,8.58-1.91C174.3-10.79,288.89,1.55,326.46,6.45Z">
      </path>
      <path class="cls-1"
        d="M1093.14,23.26c-39.39-3.32-81.66-4.1-133.14-.1l-1.78.14,1.78-.19C1011.48,17.72,1053.75,18.77,1093.14,23.26Z">
      </path>
      <path class="cls-1" d="M1920,14.29v2.32q-12.9,2.75-25.59,5.27l-7.1,1.41,7.1-1.9Q1907.1,18,1920,14.29Z">
      </path>
    </svg>
  </div>
</div>

<ng-template #template>
  <div class="limiter mod" style="display: block;">
    <div class="custom-modal modal-container">
      <div class="modal-close-btn" (click)="modalReference.hide();">
        <div class="close-icon">
          <span>
            <i class="fa fa-close" aria-hidden="true"></i>
          </span>
        </div>
      </div>
      <div class="content-area">
        <h1>Payment Filters</h1>
        <div class="modal-content-body">
          <div class="content">
            <form [formGroup]="FilterFGroup">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <!-- <input matInput formControlName="PaymentID" placeholder="PaymentID">
                      <span class="us-icon"> <img src="../../../assets/images/icon/ic_edit_name.svg" alt=""> </span>
                      <mat-error [innerHTML]="GetFormControlErrorMessage('PaymentID')">
                      </mat-error> -->
                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Payment ID</mat-label>
                        <input matInput formControlName="PaymentID" placeholder="Pay-01">
                        <mat-icon matSuffix>payments</mat-icon>
                        <mat-error [innerHTML]="GetFormControlErrorMessage('PaymentID')">
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <!-- <input matInput formControlName="PaymentAmount" placeholder="PaymentAmount">
                      <span class="us-icon"> <img src="../../../assets/images/icon/ic_edit_mobilenumber.svg" alt="">
                        <mat-error [innerHTML]="GetFormControlErrorMessage('PaymentAmount')">
                        </mat-error> -->
                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Payment Amount</mat-label>
                        <input matInput formControlName="PaymentAmount" placeholder="₹.1000">
                        <mat-icon matSuffix>currency_rupee</mat-icon>
                        <mat-error [innerHTML]="GetFormControlErrorMessage('PaymentAmount')">
                        </mat-error>
                      </mat-form-field>

                    </div>
                  </div>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button class="btn-blue" *ngIf="FilterFGroupStatus" type="button" (click)="ResetFilters()" aria-label="">
          <span>Reset</span>
          <span> <i class="fa fa-times" aria-hidden="true"></i> </span>
        </button> -->
        <button mat-fab extended color="warn" *ngIf="FilterFGroupStatus" (click)="ResetFilters()">
          <mat-icon>close_small</mat-icon>
          Reset
        </button>
        <!-- <button class="btn-blue" type="button" [disabled]="!FilterFGroupStatus"
          [ngClass]="{'disabled': !FilterFGroupStatus}" (click)="SubmitFilters()">
          <span> Search </span>
          <span> <i class="fa fa-search" aria-hidden="true"></i> </span>
        </button> -->
        <button mat-fab extended color="primary" [disabled]="!FilterFGroupStatus"
          [ngClass]="{'disabled': !FilterFGroupStatus}" (click)="SubmitFilters()">
          <mat-icon>search</mat-icon>
          Search
        </button>
      </div>
      <app-seller-theme *ngIf="CustomerCategory === 'Seller'"></app-seller-theme>

      <app-buyer-theme *ngIf="CustomerCategory === 'Buyer'"></app-buyer-theme>
    </div>
  </div>
</ng-template>