.content-wrapper {
  padding: 10px;
  margin: 10px;
  /* margin-left: 22%; */
  margin-top: -80px;
  z-index: 2;
  position: relative;
}
.wrapper-slide {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(130px,1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    float: left;
    border-radius: 0;
    cursor: default;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    flex-flow: wrap;
}

.No-data-found {
  font-size: 20px;
  text-align: center;
  font-style: oblique;
  padding: 226px 100px;
}


.wrapper {
  display: inline-block;
  /* grid-gap: 10px; */
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  color: #444;
  position: relative;
  z-index: 1;
  margin: 20px;

}

.box {
    background-color: #f9f9f9;
    color: rgb(49, 58, 100);
    border: 5px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 13px;
    min-height: 220px;
    min-width: 280px;
    box-shadow: 3px 3px 10px #2323233d;
}
.wd-header {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
    position: relative;
}
.wd-icon {
    position: absolute;
    right: 0;
    top: 0;
    font-weight: bold;
    background-color: #f2940c;
    border-radius: 3px;
    margin: 3px;
    color: rgb(49, 58, 101)
}
.wd-icon i {
    color: #f2940c;
    font-size: 20px;
    line-height: 22px;
    margin: 0 4px;
    cursor: pointer;
    display: none;
}
span.material-icons {
    color: rgb(49, 58, 101);
    line-height: 22px;
    cursor: pointer;
    font-size: 22px;
    margin-right: 3px;
    transition: 0.5s;
}
span.material-icons:last-child {
    margin-right: 0;
}
span.material-icons:hover {
    color: #313a64;
}
table.wd-table {
    width: 100%;
}
table.wd-table tbody tr td {
    border-bottom: 1px solid #efefef;
    padding: 5px;
}

.filter-info .value {
    margin-left: 10px;
    font-size: 11px;
    line-height: 15px;
    margin-right: 5px;
    color: #3d8cd8;
    letter-spacing: .3px;
}

.side-field-title {
    padding: 0px;
    margin-bottom: 5px;
    margin-top: -5px;
    border-bottom: 1px solid #efefef;
    width: 100%;
  }
  .side-field-title b {
    font-size: 1.20rem;
    color: rgb(49, 58, 100) !important;
    font-weight: 500;
    font-style: italic;
  }

  .boxStatus {
    background: #efefef;
    padding: 3px;
    grid-template-columns: auto 25px;
    -webkit-box-align: center;
    align-items: center;
    margin: 3px 5px;
    border: 1px solid #d3d3d3;
    border-radius: 30px;
    min-width: 60px;
    color: #000;
    font-size: 12px;
    padding-left: 7px;
  }


  .boxStatus.active .btn-delivery-lst {
    color: #fff;
  }
  .boxStatus:hover{
    background: #f2940c;
  }
  .boxStatus:hover .btn-delivery-lst {
    color: #fff;
    transition: 0s;
  }
  .boxStatus.active {
    background: #f2940c;
  }

  table.wd-table tbody tr td {
    border-bottom: 1px solid #efefef;
    padding: 5px;
    text-align: left;
    font-size: 13px;
}
