::ng-deep .custom-modal.modal-container .content-area .modal-content-body {
  max-height: 440px;
  min-height: 208px;
  overflow: auto;
  margin: 33px 25px 25px 25px;
  padding: 15px;
  box-shadow: inset 0 0 6px 0px #efefef;
  z-index: 1;
  position: relative;
}

.btn-blue {
  border-radius: 15px;
}
