.session-time-out {
    text-align: center;
    padding: 10px;
}
.session-time-out .modal-logo-img {
    width: 100%;
    max-width: 140px;
    margin: 0 auto;
    text-align: center;
}
.security-img img {
    width: 100%;
    max-width: 130px;
    margin: 10px;
}
.session-time-out .content h1 {
    margin: 0;
}
.session-time-out .modal-footer {
    justify-content: center;
}
.session-time-out .pwd-input {
    margin-top: 10px;
}
