<div class="limiter" style="display: block;">
  <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" class="bk-waves-gray" data-name="Layer 1"
    viewBox="0 0 990.63 1151.42">
    <defs>
      <style>
        .cls-1 {
          fill: #e8e8e8;
          opacity: 0.35;
        }

        .cls-2 {
          fill: #efefef;
        }
      </style>
    </defs>
    <title>web bg images</title>
    <path class="cls-1"
      d="M990.63,0V1151.42L922.26,999.76C891.54,931.63,872.07,841.21,866,738.27c-5.92-99.5.79-205.82,19.41-307.47,5.38-29.4,2.61-50.9-8.24-63.91-17.14-20.57-61.47-33.35-115.67-33.35-12.72,0-21.32.76-22.49.87l-3.63.41h-3.24c-5.5.07-11.09.1-16.6.1h-.08c-112.1,0-217.5-14.74-313.29-43.83C324.29,267.45,252.6,234.35,189,192.7,79.66,121.05,31.25,48.59,26.08,40.57L0,0Z">
    </path>
    <path class="cls-2"
      d="M990.63,0V968.93c-55.15-122.33-67.18-329.76-31.5-524.63,39-213-228-184.49-228-184.49-471,6-642-259.81-642-259.81Z">
    </path>
  </svg>
  <div class="content-wrapper">
    <div class="default-container tbl-client-container">
      <div class="table-head-title mt-2" *ngIf="CustomerCategory === 'Seller'">
        <h4 *ngIf="CustomerCategory === 'Seller'">Temporary Credit Requests</h4>
      </div>
      <div class="Buyer-head-title mt-2" *ngIf="CustomerCategory === 'Buyer'">
        <h4 *ngIf="CustomerCategory === 'Buyer'">Request For Credit</h4>
      </div>

      <br>
      <form [formGroup]="TempForm">
        <div class="col-md-12" *ngIf="CustomerCategory === 'Buyer'">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <mat-select matInput formControlName="Business" placeholder="Business"
                  (ngModelChange)="BusinessChanges($event)">
                  <mat-option>Select Business </mat-option>
                  <mat-option *ngFor="let Business of BusinessList; let i=index"
                    [value]="Business._id">{{Business.FirstName+' '+Business.LastName}}</mat-option>
                </mat-select>
              </div>
            </div>
            <!-- <div class="col-md-6">
              <div class="form-group">
                <mat-select matInput formControlName="Branch" placeholder="Branch"
                  (ngModelChange)="BranchChanges($event)">
                  <mat-option>Select Branch </mat-option>
                  <mat-option *ngFor="let Branch of BranchList; let i=index"
                    [value]="Branch._id">{{Branch.BranchName}}</mat-option>
                </mat-select>
              </div>
            </div> -->
          </div>
        </div>
      </form>
      <div class="tbl-filter-container">
        <div class="tbl-row-display">
          <span class="label-show-limits">
            show Limits
          </span>
          <mat-form-field>
            <mat-select [(ngModel)]="LimitCount" (ngModelChange)="Pagination_Action(1)">
              <mat-option [value]="6">6</mat-option>
              <mat-option [value]="12">12</mat-option>
              <mat-option [value]="30">30</mat-option>
              <mat-option [value]="60">60</mat-option>
              <mat-option [value]="120">120</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>


      <div class="wrapper" *ngIf="TemporaryDetails.length > 0 && CustomerCategory === 'Buyer'">
        <ng-container *ngFor="let Temp of TemporaryDetails;let i=index">
          <div class="box">
            <div class="wd-header">{{Temp?.Seller?.ContactName}}
              <div class="wd-icon">
              </div>
            </div>
            <div class="wd-content">
              <table class="wd-table">
                <tbody>
                  <tr>
                    <td>Business Name</td>
                    <td>:</td>
                    <td>{{Temp?.Business?.BusinessName}}</td>
                  </tr>
                  <!-- <tr>
                    <td>Branch Name</td>
                    <td>:</td>
                    <td>{{Temp?.BranchInfo?.BranchName}}</td>
                  </tr> -->
                  <tr>
                    <td>Buyer Business Name</td>
                    <td>:</td>
                    <td>{{Temp?.BuyerBusiness?.BusinessName}}</td>
                  </tr>
                  <!-- <tr>
                    <td>Buyer Branch Name</td>
                    <td>:</td>
                    <td>{{Temp?.BuyerBranchInfo?.BranchName}}</td>
                  </tr> -->
                  <tr>
                    <td>Buyer Request Limit</td>
                    <td>:</td>
                    <td>{{Temp?.RequestLimit}}</td>
                  </tr>
                  <tr>
                    <td>Buyer Request Period</td>
                    <td>:</td>
                    <td>{{Temp?.RequestPeriod}}(Days)</td>
                  </tr>
                  <tr>
                    <td>Seller Approved Limit</td>
                    <td>:</td>
                    <td>{{Temp?.ApproveLimit}}</td>
                  </tr>
                  <tr>
                    <td>Seller Approved Period</td>
                    <td>:</td>
                    <td>{{Temp?.ApprovedPeriod}}(Days)</td>
                  </tr>
                  <tr>
                    <td>Status</td>
                    <td>:</td>
                    <td>{{Temp?.Request_Status}}</td>
                  </tr>
                  <tr>
                    <td>Approved Date</td>
                    <td>:</td>
                    <td> {{Temp?.ApprovedDate | date: 'd-MMM-y'}} <span *ngIf="Temp?.ApprovedDate === null">Waiting For
                        Approval</span></td>
                  </tr>
                  <tr>
                    <td>Seller Remarks</td>
                    <td>:</td>
                    <td> {{Temp?.SellerRemarks}} </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="wrapper" *ngIf="TemporaryDetails.length > 0 && CustomerCategory === 'Seller'">
        <ng-container *ngFor="let Temp of TemporaryDetails;let i=index">
          <div class="box">
            <div class="wd-header">{{Temp?.Buyer?.ContactName}}
              <div class="wd-icon" *ngIf="Temp?.Request_Status === 'Pending'">
                <span class="material-icons" (click)="TempCreditUpdate(i)">zoom_out_map</span>
              </div>
            </div>
            <div class="wd-content">
              <table class="wd-table">
                <tbody>
                  <tr>
                    <td>Business Name</td>
                    <td>:</td>
                    <td>{{Temp?.Business?.FirstName + ' '+Temp?.Business?.LastName}}</td>
                  </tr>
                  <!-- <tr>
                    <td>Branch Name</td>
                    <td>:</td>
                    <td>{{Temp?.BranchInfo?.BranchName}}</td>
                  </tr> -->
                  <tr>
                    <td>Buyer Business Name</td>
                    <td>:</td>
                    <td>{{Temp?.BuyerBusiness?.FirstName+' '+Temp?.BuyerBusiness?.LastName}}</td>
                  </tr>
                  <!-- <tr>
                    <td>Buyer Branch Name</td>
                    <td>:</td>
                    <td>{{Temp?.BuyerBranchInfo?.BranchName}}</td>
                  </tr> -->
                  <tr>
                    <td>Buyer Request Limit</td>
                    <td>:</td>
                    <td>{{Temp?.RequestLimit}}</td>
                  </tr>
                  <tr>
                    <td>Buyer Request Period</td>
                    <td>:</td>
                    <td>{{Temp?.RequestPeriod}}(Days)</td>
                  </tr>
                  <tr>
                    <td>Seller Approved Limit</td>
                    <td>:</td>
                    <td>{{Temp?.ApproveLimit}}</td>
                  </tr>
                  <tr>
                    <td>Seller Approved Period</td>
                    <td>:</td>
                    <td>{{Temp?.ApprovedPeriod}}(Days)</td>
                  </tr>
                  <tr>
                    <td>Payment Type</td>
                    <td>:</td>
                    <td>{{Temp?.PaymentType}} <span *ngIf="Temp?.PaymentType === ''">Waiting For Approval</span></td>
                  </tr>
                  <tr>
                    <td>Status</td>
                    <td>:</td>
                    <td>{{Temp?.Request_Status}}</td>
                  </tr>
                  <tr>
                    <td>Created Date</td>
                    <td>:</td>
                    <td> {{Temp?.createdAt | date: 'd-MMM-y'}}</td>
                  </tr>
                  <tr>
                    <td>Buyer Remarks</td>
                    <td>:</td>
                    <td> {{Temp?.BuyerRemarks}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="No-data-found" *ngIf="TemporaryDetails.length === 0 ">No Temporary Request To Display</div>

      <div class="pagination-container">
        <div class="go-page">
          <div class="number-go-page ">
            <span class="lbl-go-page  label-show-limits">Go Page</span>
            <input type="number" style="border:none" autocomplete="off" min="1" max="{{PagesArray.length}}"
              [(ngModel)]="GoToPage">
            <span class="bnt-go-page">
              <span class="txt" (click)="Pagination_Action(GoToPage)">GO</span>
            </span>
          </div>
        </div>
        <div class="show-records">
          <div class="txt-show-records" [innerHTML]="ShowingText"></div>
          <!-- <div class="txt-show-records">Showing <span>1</span> to <span>5</span> out of <span>97</span>  entries</div> -->
        </div>

        <div class="pagination-number">
          <ul class="pagination hidden-xs">
            <li>
              <a class="{{PagePrevious['Class']}}" (click)="Pagination_Action(PagePrevious['Value'])"
                matTooltip="Previous">
                <p><i class="fa fa-angle-double-left" aria-hidden="true"></i></p>
              </a>
            </li>
            <li *ngFor="let Page of PagesArray; let i=index" class="{{Page.Class}}" [ngClass]="{'active': Page.Active}"
              (click)="Pagination_Action(Page.Value)">
              <a>
                <p>{{Page.Text}}</p>
              </a>
            </li>
            <li class="{{PageNext['Class']}}" (click)="Pagination_Action(PageNext['Value'])" matTooltip="Next">
              <a>
                <p><i class="fa fa-angle-double-right" aria-hidden="true"></i></p>
              </a>
            </li>
            <!-- <li>
                            <a class="" matTooltip="Previous">
                               <p><i class="fa fa-angle-double-right" aria-hidden="true"></i></p>
                            </a>
                         </li> -->
          </ul>

        </div>

      </div>
    </div>

  </div>
  <app-seller-theme *ngIf="CustomerCategory === 'Seller'"></app-seller-theme>

  <app-buyer-theme *ngIf="CustomerCategory === 'Buyer'"></app-buyer-theme>
</div>
