<section id="not-found" >
    <div id="title"> &bull; 404 Error Page</div>
    <div class="circles">
      <p>404<br>
       <small>PAGE NOT FOUND</small>
      </p>
      <span class="circle big"></span>
      <span class="circle med"></span>
      <span class="circle small"></span>
    </div>
  </section>



  <!-- <div class="flex-container" style="display: none;">
      <div class="error-msg-box">
          <div class="content-box">
            <h1>404</h1>
            <h4>Not Found</h4>
            <p>The resource requested could not be found on this server!</p>
          </div>          
      </div>
  </div> -->